[submodule "BOS"]
	path = BOS
	url = https://github.com/HexabitzPlatform/BOS
[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/hexabitzPlatform/thirdparty
[submodule "ESP32-Firmware"]
	path = ESP32-Firmware
	url = https://github.com/HexabitzPlatform/ESP32-Firmware.git
